<%= form_with(model: property, local: true ,url: choose_new_or_edit) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>
      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :物件名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :賃料 %>
   <p><%= form.text_field :rent %>円</p>
  </div>

  <div class="field">
    <%= form.label :住所%>
    <%= form.text_field :adress %>
  </div>

  <div class="field">
    <%= form.label :築年数 %>
   <p><%= form.text_field :age %>年</p>
  </div>

  <div class="field">
    <%= form.label :備考 %>
    <%= form.text_area :note %>
  </div>
________________________________________________________
<p><h3>最寄り駅登録数：<%= @property.stations.count %></h3></p>
  <% i = 0 %>
  <%= form.fields_for :stations do |f| %>

  <h3>最寄り駅<%= i +=1 %></h3>
    <div class="field">
      <%= f.label :line_name, "路線名" %>
      <%= f.text_field :line_name %>
    </div>
    <div class="field">
      <%= f.label :station_name, "駅名" %>
      <%= f.text_field :station_name %>
    </div>
    <div class="field">
      <%= f.label :time, "徒歩分数" %>
      <p><%= f.text_field :time %>分</p>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
